
@{
    ViewBag.Title = "Designing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('../content/assets/img/header/designing.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Designing</h2>
        <ol>
            <li><a href="/Home/Index">Home</a></li>
            <li>Designing</li>
        </ol>

    </div>
</div><!-- End Breadcrumbs -->
<!-- ======= Products ======= -->
<section id="Products" class="Products">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="~/content/assets/img/Products/designing.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h1>Designing</h1>
                <p class="fst-italic">
                    We’ll Design the Best Marketing Materials for you.
                </p>
                <p>
                    Designing is the core element for any business.
                    Through the aid of designing, a business is able to catch the attention
                    of its targeted audience and convert them into potential customers. The realm of
                    designing at Bestchoice include:
                </p>
                <ul>
                    <li><i class="bi bi-check-all"></i> Logo Designing</li>
                    <li><i class="bi bi-check-all"></i> Flyer Designing</li>
                    <li><i class="bi bi-check-all"></i> Business Cards Designing</li>
                    <li><i class="bi bi-check-all"></i> Brochure Designing</li>
                    <li><i class="bi bi-check-all"></i> Letterhead Designing</li>
                    <li><i class="bi bi-check-all"></i> Stationery Designing</li>
            </div>
        </div>

    </div>
</section><!-- End Products Section -->
<!-- ======= Recent Photos Section ======= -->
<section id="recent-photos" class="recent-photos">
    <div class="container">

        <div class="section-title">
            <h2>Photos</h2>
            <p>Designing</p>
        </div>

        <div class="recent-photos-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><a href="~/content/assets/img/Products/design/design-1.jpg" class="glightbox"><img src="assets/img/Products/design/design-1.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="~/content/assets/img/Products/design/design-2.jpg" class="glightbox"><img src="assets/img/Products/design/design-2.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="~/content/assets/img/Products/design/design-3.jpg" class="glightbox"><img src="assets/img/Products/design/design-3.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="~/content/assets/img/Products/design/design-4.jpg" class="glightbox"><img src="assets/img/Products/design/design-4.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="~/content/assets/img/Products/design/design-5.JPG" class="glightbox"><img src="assets/img/Products/design/design-5.JPG" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="~/content/assets/img/Products/design/design-6.JPG" class="glightbox"><img src="assets/img/Products/design/design-6.JPG" class="img-fluid" alt=""></a></div>

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Recent Photos Section -->
