@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Bestchoice Contracting | Prefabricated structures and rent a car services in Qatar";
    ViewBag.description = "Your trusted source for portable cabin fabrication, steel and aluminum fabrication, car rental, and general contracting services in Qatar.";
    ViewBag.keywords = "best choice contracting Qatar, prefabricated structures, construction company Qatar, steel fabrication Qatar, aluminum fabrication Qatar";

}

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <div class="logo me-auto">
            <a href="/index"><img class="img-responsive" src="~/content/assets/img/logo/animation.gif" alt="Bestchoice Contracting"></a></h1>

            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link" href="/index">Home</a></li>
                <li><a class="nav-link active" href="/about">About</a></li>
                <li class="dropdown">
                    <a class="" href=""><span>Our Products</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/portable-cabin-fabrication">Portable Cabin Fabrication</a></li>
                        <li><a href="/building-painting-contractor">Building Painting Contractor</a></li>
                        @*<li><a href="/designing">Designing & Printing </a></li>*@
                        <li><a href="/steel-aluminum-fabrication">Steel & Aluminum Fabrication</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="" href=""><span>Our Services</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/general-contracting">General Contracting</a></li>
                        @*<li><a href="/car-rental">Rent a Car</a></li>*@
                        <li><a href="/optical-fibre-networks">Optical Fibre Networks</a></li>
                    </ul>
                </li>

                <li><a class="nav-link" href="/blog">Blog</a></li>
                <li><a class="nav-link" href="/contact">Contact</a></li>
                <li><a target="_blank" href="~/Content/assets/Brochure/Brochure.html.pdf">Brochure</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Whatsapp ======= -->

<link rel="stylesheet" href="">
<a href="https://wa.me/97450307568" class="float" target="_blank"><i class="bi bi-whatsapp"></i> </a>
<i class="fa fa-whatsapp my-float"></i>
     </a>

<!-- ======= Call ======= -->
<link rel="stylesheet" href="">
<a href="tel:+974 5030 7568" class="call"><i class="bi bi-telephone"></i> </a>
<i class="fa fa-whatsapp my-call"></i>
     </a>

<!-- ======= Tagline ======= -->
<link rel="stylesheet" href="">
<a href="" class="tagline"><i class=""></i> <h2>Creative Fabrication</h2></a>
<i class="fa fa-whatsapp my-tagline"></i>
     </a>




<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('../content/assets/img/header/about-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

        <h2>About</h2>
        <ol>
            <li><a href="/index">Home</a></li>
            <li>About</li>
        </ol>

    </div>
</div><!-- End Breadcrumbs -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="~/Content/assets/img/about.jpg" class="img-fluid" alt="about-us">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h1>About </h1>
                <p class="fst-italic">
                    Welcome to Best Choice Contracting, a leading provider of prefabricated structures and painting services in Qatar.
                    Established in 2009, we have years of experience in the industry and a team of skilled professionals who are committed to
                    delivering high-quality solutions to our clients.

                </p>

                <p>
                    At Best Choice Contracting, we specialize in the fabrication of different types of prefabricated portacabins,
                    accommodations, offices, toilets, container shops, used container stores, container offices, modular cabins,
                    and more. Our structures are designed to meet the specific needs of our clients, with a focus on durability, portability,
                    and functionality.
                </p>
                <p>
                    In addition to our prefabricated structures, we are also experts in building exterior and interior painting.
                    We use only the best paints and materials to ensure a flawless finish, and our team has the skills and experience
                    to tackle even the most complex painting projects.
                </p>

                <p>
                    At Best Choice Contracting, we pride ourselves on delivering exceptional service and building lasting relationships
                    with our clients. We are committed to meeting our clients' needs, and we work closely with them to develop customized
                    solutions that meet their specific requirements and budget.
                </p>
                <P>
                    Contact us today to learn more about our prefabricated structures and painting services, or to schedule a consultation.
                    We look forward to working with you to bring your vision to life.
                </P>
            </div>
        </div>

    </div>
</section><!-- End About Section -->


<main id="main">

    <!-- ======= Clients Section ======= -->
    <div class="section-title" data-aos="zoom-in">
        <h2>Our</h2>
        <p>Valuable Clients</p>
    </div>
    <section id="clients" class="clients">
        <div class="container" data-aos="zoom-in">
            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="~/Content/assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/Content/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/Content/assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/Content/assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/Content/assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/Content/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/Content/assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/Content/assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Clients Section -->

</main><!-- End #main -->