
@{
    ViewBag.Title = "ELVSolutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <div class="logo me-auto">
            <a href="/index"><img class="img-responsive" src="~/content/assets/img/logo/animation.gif" alt="Bestchoice Contracting"></a></h1>

            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link active" href="/index">Home</a></li>
                <li><a class="nav-link" href="/about">About</a></li>
                <li class="dropdown">
                    <a class="" href=""><span>Our Products</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/portable-cabin-fabrication">Portable Cabin Fabrication</a></li>
                        <li><a href="/building-painting-contractor">Building Painting Contractor</a></li>
                        <li><a href="/designing">Designing & Printing </a></li>
                        <li><a href="/steel-aluminum-fabrication">Steel & Aluminum Fabrication</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="" href=""><span>Our Services</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/general-contracting">General Contracting</a></li>
                        <li><a href="/car-rental">Rent a Car</a></li>
                        <li><a href="/optical-fibre-networks">Optical Fibre Networks</a></li>
                    </ul>
                </li>
                  <li><a target="_blank" href="~/Content/assets/Brochure/Brochure.html.pdf">Brochure</a></li>
                <li><a class="nav-link" href="/blog">Blog</a></li>
                <li><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('../content/assets/img/header/ELV.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

        <h2>ELV Solutions</h2>
        <ol>
            <li><a href="/Index">Home</a></li>
            <li>ELV Solutions</li>
        </ol>

    </div>
</div><!-- End Breadcrumbs -->
<!-- ======= Products ======= -->
<section id="Products" class="Products">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="~/content/assets/img/Products/ELV-01.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h1>ELV Solutions</h1>
                <p class="fst-italic">
                    Bestchoice provides whole sharp and low cost ELV Solutions Company in Qatar.
                </p>
                <p>
                    This allow you to stay in full control of your place be it home, company, school, public or private.
                    Our team has large experience in Supply, Install, and Test ELV systems in Qatar.
                    Qsmart ELV solutions in Qatar finally aim on  the grow needs of the ELV market.
                </p>
                <p>
                    We design, build, install and support systems like data network, CCTV, PA systems,
                    access control, and network cabling. Our united, high-end ELV solutions are all
                    support by grow product and carried with better customer service. We are in the
                    path to become the well known ELV Solution company in Doha Qatar.
                </p>
                <p>
                    Our core ELV Solutions in Qatar include:
                </p>
                <ul>
                    <li><i class="bi bi-check-all"></i>  Complete range of Fibre Optic Installation</li>
                    <li><i class="bi bi-check-all"></i> Fusion Splicing</li>
                    <li><i class="bi bi-check-all"></i> OTDR Testing and Structured Cabling Services</li>
                    <li><i class="bi bi-check-all"></i> Troubleshooting etc...</li>
                    <ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="~/content/assets/img/Products/ELV-02.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <p>
                    CCTV Systems :- In addition to being a leader supplier and wide range of quality CCTV products
                    (CCTV Camera, CCTV Monitor, DVR, Hard Disk and CCTV materials) which include the latest new trends.
                    As CCTV Install leader in Qatar, we again offer CCTV installation for both offices and homes.
                    Our leader team can help you get the right CCTV System to suit your needs and cost.
                    Our services also include CCTV System Install, Support, Configure and Focus of brands like Hikvision, Securview & Bosch etc.
                </p>
                <p>
                    IP and Analog Phone Systems:- We further provide design and install of your IP phone
                    system which smooth effective teamwork removing the distance fence. Our IP phone systems
                    will moreover power you to share data and increase discussions leading to better decisions a
                    nd business growth. We take up IP and Analog Phone System Install and besides Configure of brands like Avaya, Fortinet and Panasonic etc.
                </p>
                <p>
                    Door Access Control Systems:- Our door access control like Fingerprint detection unit,
                    Proximity readers, Biometric & Magnetic strip readers, IP Based Solution and more.
                    Qsmart provides the most up‐to-date & cost effective solution be it for a fully united system.
                    We offer Door Access Install and Configure of brands like Zkteco and Suprema.
                </p>
                <p>
                    PA/ BGM System:- We take up design, build and install of PA System and  music system projects.
                    We can provide ceiling speakers, box speakers, line array, sub speakers, fire‐rated speakers etc.
                    Outdoor install with industrial speakers, amplifiers, mike and mixers can also be provided brands like Yamaha, Bosch, Bose etc.
                </p>




            </div>
</section><!-- End Products -->

<main id="main">

    <!-- ======= Recent Photos Section ======= -->
    <section id="recent-photos" class="recent-photos">
        <div class="container">

            <div class="section-title">
                <h2>Our</h2>
                <p>BRANDS</p>
            </div>

            <div class="recent-photos-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><a href="~/content/assets/img/Products/ELV Solutions/elv-1.jpg" class="glightbox"><img src="~/content/assets/img/Products/ELV Solutions/elv-1.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a href="~/content/assets/img/Products/ELV Solutions/elv-2.jpg" class="glightbox"><img src="~/content/assets/img/Products/ELV Solutions/elv-2.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a href="~/content/assets/img/Products/ELV Solutions/elv-3.jpg" class="glightbox"><img src="~/content/assets/img/Products/ELV Solutions/elv-3.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a href="~/content/assets/img/Products/ELV Solutions/elv-4.jpg" class="glightbox"><img src="~/content/assets/img/Products/ELV Solutions/elv-4.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a href="~/content/assets/img/Products/ELV Solutions/elv-5.jpg" class="glightbox"><img src="~/content/assets/img/Products/ELV Solutions/elv-5.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a href="~/content/assets/img/Products/ELV Solutions/elv-6.jpg" class="glightbox"><img src="~/content/assets/img/Products/ELV Solutions/elv-6.jpg" class="img-fluid" alt=""></a></div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Recent Photos Section -->


